.radio-field {
  margin-block: 1rem;
}

.radio-field__title {
  margin-block-end: 1rem;
}

.radio-field__list {
  display: grid;
  /* flex-direction: column; */
  gap: 0.6rem;
  width: fit-content;
}
