.btn {
  --bg-colour: var(--colour-border-default);

  align-items: center;
  background-color: var(--bg-colour);
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  gap: 1em;
  height: 1.3rem;
  justify-content: space-between;
  padding: 0 8px;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  width: auto;
}
.btn:hover {
  box-shadow: 0 0 0 1px var(--bg-colour);
}
.btn:focus-visible {
  outline-color: var(--bg-colour);
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 2px;
}
.btn--active,
.btn:is([aria-pressed="true"]) {
  --bg-colour: var(--colour-status-onsite);
}

.btn--colour-light {
  --bg-colour: var(--colour-white);
}

.btn svg {
  font-size: 1rem;
}
