.toggle {
  aspect-ratio: 2 / 1;
  background-color: var(--colour-background-primary);
  border-radius: 7px;
  box-shadow: inset 2px 2px 3px rgba(0 0 0 / 0.6);
  height: 0.64rem;
  margin: 3px -4px 3px 0;
  overflow: hidden;
  padding: 2px;
  width: fit-content;
}

.toggle:after {
  aspect-ratio: 1;
  background-color: var(--bg-colour);
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgba(0 0 0 / 0.6);
  content: "";
  display: block;
  height: 100%;
  transform: translate(100%, 0);
  transition: all 0.2s ease-in;
}
.toggle.toggle--active:after {
  transform: translate(0, 0);
}
