.day {
  list-style-type: none;
}

.day__item {
  --active-border-colour: var(--colour-border-default);
  --active-hover-colour: var(--colour-border-hover);

  align-items: center;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid var(--active-border-colour);
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  position: relative;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}
.day__item.day__item--off {
  border-color: var(--colour-border-disabled);
  border-style: dashed;
}
.day__item:has(.status__option--onsite[aria-selected="true"]) {
  --active-border-colour: var(--colour-status-onsite);
  --active-hover-colour: var(--colour-status-onsite);
}
.day__item:has(.status__option--remote[aria-selected="true"]) {
  --active-border-colour: var(--colour-status-remote);
  --active-hover-colour: var(--colour-status-remote);
  
}

.day__item time {
  align-items: center;
  color: var(--colour-text-primary);
  display: flex;
  font-size: 1rem;
  gap: 0.35em;
  letter-spacing: 0.04em;
  margin-top: -20px;
}
.date--today .day__item time:after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 0.5em;
  width: 0.5em;
}

.day__item--btn {
  cursor: pointer;
  overflow: hidden;
}
.day__item--btn:is(:hover, :focus-visible) {
  border-color: var(--active-hover-colour);
  box-shadow: 0 0 0 2px var(--active-hover-colour);
  outline-color: transparent;
  outline-style: solid;
}
