.day {
  list-style-type: none;
}

.day__item {
  align-items: center;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  width: 100%;
}

.day__item--btn {
  cursor: pointer;
}
.day__item--btn:hover {
  background-color: #ddd;
}

.day__status {
  align-items: center;
  display: flex;
  height: 26px;
  justify-content: center;
  width: 5rem;
}
.day__status:is(.day__status--remote, .day__status--onsite) {
  background-color: #888;
}
.day__status:is(.day__status--none) {
  opacity: 0;
}
