.status {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.status__option {
  align-items: center;
  border-radius: 8px;
  color: var(--colour-black);
  display: flex;
  font-size: var(--status-font-size);
  font-weight: 600;
  gap: 0.4em;
  height: var(--status-height);
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  margin: 0 var(--status-spacing);
  transition: inset 0.2s ease-out, opacity 0.2s ease;
}
.status__option.status__option--onsite {
  background-color: var(--colour-status-onsite);
  inset: auto -100% var(--status-spacing) 100%;
}

.status__option.status__option--remote {
  background-color: var(--colour-status-remote);
  inset: auto 100% var(--status-spacing) -100%;
}

.status__option.status__option--none {
  background-color: var(--colour-border-default);
  inset: auto 0 -26px 0;
}
.status__option[aria-selected="true"] {
  inset: auto 0 var(--status-spacing) 0;
  opacity: 1;
}
.status__option.status__option--read-only {
  inset: auto var(--status-spacing) var(--status-spacing) var(--status-spacing);
  margin: 0;
  opacity: 1;
}
.status__option svg {
  font-size: 1em;
}
