@keyframes fade-in {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.week {
  animation-name: fade-in;
  animation-timing-function: ease-out;
  display: grid;
  gap: var(--calendar-gap);
  grid-template-columns: repeat(var(--column-count), 1fr);

  &:nth-child(1 of :not(.week--header)) {
    animation-duration: 0.6s;
  }
  &:nth-child(2 of :not(.week--header)) {
    animation-duration: 0.8s;
  }
  &:nth-child(3 of :not(.week--header)) {
    animation-duration: 1s;
  }
  &:nth-child(4 of :not(.week--header)) {
    animation-duration: 1.2s;
  }
  &:nth-child(5 of :not(.week--header)) {
    animation-duration: 1.4s;
  }
  &:nth-child(6 of :not(.week--header)) {
    animation-duration: 1.6s;
  }
  &:nth-child(7 of :not(.week--header)) {
    animation-duration: 1.8s;
  }
  
  .week--current {
    border-color: var(--colour-border-default);
    border-style: solid;
    border-width: 1px 0;
    padding: var(--calendar-gap) 0;
  }
}

.week--header + .week.week--current {
  border-top-width: 0;
  padding-top: 0;
}

.week.week--current:last-child {
  border-bottom-width: 0;
  padding-bottom: 0;
}
