html {
  interpolate-size: allow-keywords;
}

body {
  background-color: var(--colour-background-primary);
  color: var(--colour-text-primary);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

time, button {
  font-family: "Montserrat", sans-serif;
}
