.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sections__title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-block-end: 1rem;
}
