body {
  /* 🌈 Primitives 🌈 */
  
  --colour-dark-100: #1a1625;
  --colour-dark-200: #2f2b3a;
  --colour-dark-300: #46424f;
  --colour-dark-400: #5e5a66;
  --colour-dark-500: #76737e;
  --colour-dark-600x: #908d96;
  --colour-dark-600: #cac5d4;

  --colour-white: #fff;
  --colour-black: #000;

  --colour-status-remote: #b556ff;
  --colour-status-onsite: #00d2d0;

  --colour-new: #68eb82;
  --colour-match: #fff;
  --colour-conflict: #ff877a;

  /* 🎟️ Tokens 🎟️ */

  --colour-background-primary: var(--colour-dark-200);

  --colour-text-primary: var(--colour-dark-600);
  --colour-text-highlight: var(--colour-white);

  --colour-border-default: var(--colour-dark-500);
  --colour-border-hover: var(--colour-dark-600);
  --colour-border-disabled: var(--colour-dark-400);

  --banner-bg: var(--colour-dark-100);

  --modal-background: var(--colour-dark-300);
  --modal-text: var(--colour-white);
  --modal-backdrop: rgb(0 0 0 / 0.5);
}
