.header {
  align-items: center;
  background-color: var(--banner-bg);
  display: flex;
  gap: 0.5em;
  height: var(--header-height);
  inset: 0 0 auto 0;
  padding: var(--header-gutter);
  position: fixed;
}

.header p {
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0 0 0 0.4rem;
}

.header img {
  height: 1rem;
  width: 1rem;
}
