/* .header {
  align-items: center;
  background-color: var(--banner-bg);
  display: flex;
  gap: 0.5em;
  height: var(--header-height);
  inset: 0 0 auto 0;
  padding: var(--header-gutter);
  position: fixed;
  z-index: 10;
} */
 .header {
  --hycalc-icon-size: 2.2rem;
  --github-icon-size: 1rem;

  align-items: top;
  /* background-color: var(--banner-bg); */
  /* border-radius: 6px; */
  display: flex;
  /* filter: drop-shadow(8px 4px 4px rgb(0 0 0 / 0.1)); */
  /* gap: 0.5em; */
  /* height: var(--header-height); */
  /* height: 30px; */
  inset: 0 0 auto 0;
  justify-content: space-between;
  margin: 16px;
  /* padding: var(--header-gutter); */
  /* padding-inline: 8px; */
  position: fixed;
  z-index: 10;
}

.header__left {
  align-items: center;
  display: flex;
  gap: 8px;

  h1 {
    color: var(--colour-dark-600x);
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.15;
    margin: 0;
    padding: 0;
  }

  img {
    height: var(--hycalc-icon-size);
    width: var(--hycalc-icon-size);
  }
}

.header__right {
  align-items: center;
  color: var(--colour-dark-600x);
  display: flex;
  font-size: 0.8rem;
  height: fit-content;
  gap: 0.5rem;

  a {
    opacity: 0.5;
    transition: opacity 0.2s ease;

    &:is(:hover, :focus-visible) {
      opacity: 1;
    }

    img {
      height: var(--github-icon-size);
      width: var(--github-icon-size);
    }
  }

  abbr {
    text-decoration: none;
  }
}
