.page {
  --body-width-small: 800px;
  --header-height: 35px;
  --header-gutter: 0 22px;
  --title-spacing: 25px;
  --title-font-size: 3rem;
  --calendar-gap: 12px;
  --status-font-size: 0.8rem;
  --status-height: 22px;
  --status-spacing: 10px;
  --arrow-size: 1.1em;
  --column-count: 5;
  --num-gaps: calc(var(--column-count) - 1);
  --cell-size: 118px;
  --body-calc-width: calc((var(--cell-size) * var(--column-count)) + (var(--calendar-gap) * var(--num-gaps)));
  --body-width: max(var(--body-calc-width), var(--cell-size));
}

@media (height <= 880px) or (width <= 950px) {
  .page {
    --calendar-gap: 10px;
    --cell-size: 100px;
    --title-spacing: 25px;
    --title-font-size: 2rem;
    --status-font-size: 0.75rem;
    --arrow-size: 0.8em;
  }
}

@media (height <= 755px) or (width <= 850px) {
  .page {
    --calendar-gap: 8px;
    --cell-size: 90px;
    --title-spacing: 12px;
    --title-font-size: 1.8rem;
    --status-font-size: 0.68rem;
    --arrow-size: 0.72em;
  }
}
