.page {
  background-image: var(--page-bg);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.page__body {
  margin: calc(var(--header-height) + 25px) auto auto auto;
  padding: 0 0 10px 0;
  width: var(--body-width);
}
