.page {
  /* TODO: move */
  background-image: linear-gradient(
    0deg,
    hsl(256deg 15% 20%) 0%,
    hsl(256deg 15% 19%) 4%,
    hsl(256deg 16% 18%) 29%,
    hsl(256deg 17% 18%) 59%,
    hsl(256deg 17% 17%) 74%,
    hsl(256deg 18% 16%) 84%,
    hsl(256deg 19% 16%) 90%,
    hsl(256deg 20% 15%) 94%,
    hsl(256deg 21% 14%) 97%,
    hsl(256deg 22% 14%) 99%,
    hsl(256deg 23% 13%) 100%,
    hsl(256deg 24% 12%) 100%,
    hsl(256deg 25% 12%) 100%
  );

  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.page__body {
  margin: calc(var(--header-height) + 25px) auto auto auto;
  padding: 0 0 10px 0;
  width: var(--body-width);
}
