.results-list {
  display: grid;
  gap: 0.5rem 1rem;
  grid-template-columns: auto auto;
  width: fit-content;
}

.results-list__value[data-value="0"] {
  opacity: 0.5;
}

.results-list__value--new {
  color: var(--colour-new)
}
.results-list__value--match {
  color: var(--colour-match)
}
.results-list__value--conflict {
  color: var(--colour-conflict)
}
