.title {
  align-items: baseline;
  display: flex;
  gap: 2em;
  justify-content: space-between;
  margin: 0 0 var(--title-spacing) 0;

  container-type: inline-size;
  container-name: cardContainer;
}

.title__month,
.title__year,
.title__ratio {
  font-size: var(--title-font-size);
  letter-spacing: 0.008em;
}

.title__month {
  font-weight: 600;
  margin: 0 0.15em 0 0;
}

.title__year {
  font-weight: 100;
}

.title__ratio {
  font-weight: 500;
  transition: scale 0.1s ease, color 0.2s ease;
}
.title__ratio.title__ratio--updating {
  color: var(--colour-text-highlight);
  scale: 1.04;
}
.title__ratio span ~ span {
  font-weight: 100;
  margin: 0 0 0 0.1rem;
}

@container cardContainer (width < 300px) {
  .title__month,
  .title__year,
  .title__ratio {
    font-size: 1.1rem;
  }
}

@container cardContainer (width >= 300px) and (width < 500px) {
  .title__month,
  .title__year,
  .title__ratio {
    font-size: 1.8rem;
  }
}

@container cardContainer (width >= 500px) and (width < 700px) {
  .title__month,
  .title__year,
  .title__ratio {
    font-size: 2.4rem;
  }
}
