@keyframes zoom {
  from { scale: 0.1; }
  to { scale: 1; }
}

[popover] {
  background-color: var(--modal-background);
  border-radius: 20px;
  box-sizing: border-box;
  color: var(--modal-text);
  margin: auto;
  min-height: 300px;
  padding: 30px;
  width: 600px;
  
  &:popover-open {
    animation-duration: 0.2s;
    animation-name: zoom;
  }
}

::backdrop {
  backdrop-filter: blur(1px);
  background-color: var(--modal-backdrop);
  pointer-events: none;
}

body:has(:popover-open) {
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}

.modal__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 30px 0;
}
