@keyframes zoom {
  from { scale: 0.1; }
  to { scale: 1; }
}

.modal {
  background-color: var(--modal-background);
  border: 0;
  border-radius: 40px;
  box-shadow: 8px 8px 3px rgb(0 0 0 / 0.5);
  box-sizing: border-box;
  color: var(--modal-text);
  margin: auto;
  min-height: 300px;
  padding: 40px;
  width: 600px;
  
  &:popover-open {
    animation-duration: 0.2s;
    animation-name: zoom;
  }
}

::backdrop {
  backdrop-filter: blur(3px);
  background-color: var(--modal-backdrop);
  pointer-events: none;
}

body:has(:popover-open) {
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}

.modal__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 30px 0;
}
