@keyframes zoom {
  0% { scale: 0.1 0.1; opacity: 0; }
  75% { scale: 0.75 1; }
  100% { scale: 1 1; opacity: 1; }
}

.modal {
  animation-duration: 0.3s;
  animation-name: zoom;
  animation-timing-function: ease-in;

  background-color: var(--modal-background);
  border: 0;
  border-radius: 40px;
  box-shadow: 8px 8px 3px rgb(0 0 0 / 0.5);
  box-sizing: border-box;
  color: var(--modal-text);
  margin: auto;
  padding: 40px;
  width: 600px; /* TODO: vars */
}

::backdrop {
  backdrop-filter: blur(3px);
  background-color: var(--modal-backdrop);
  pointer-events: none;
}

.modal__wrapper {
  display: grid;
  gap: 1.5rem;
  grid-template-rows: 1.8rem 1fr;
}

.modal__title {
  font-size: 1.8rem;
  font-weight: 600;
}
