@keyframes modalZoom {
  0% { scale: 0.01 0.01; opacity: 0.5; }
  75% { scale: 0.1 1; }
  100% { scale: 1 1; opacity: 1; }
}

/* Motion safe version */
@keyframes modalFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.modal {
  --modal-width: 600px;

  animation-duration: 0.4s;
  animation-name: modalZoom;
  animation-timing-function: ease-in;

  background-color: var(--modal-background);
  border: 0;
  border-radius: 40px;
  box-shadow: 8px 8px 3px rgb(0 0 0 / 0.5);
  box-sizing: border-box;
  color: var(--modal-text);
  margin: auto;
  padding: 40px;
  transition: height 2s ease;
  width: var(--modal-width);

  @media (prefers-reduced-motion: reduce) {
    animation-name: modalFadeIn;
  }
}

::backdrop {
  backdrop-filter: blur(3px);
  background-color: var(--modal-backdrop);
  pointer-events: none;
}

.modal__wrapper {
  display: grid;
  gap: 1.5rem;
  grid-template-rows: 1.8rem 1fr;
  transition: height 2s ease;
}

.modal__title {
  font-size: 1.8rem;
  font-weight: 600;
}
